<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>Notas de pedido de final</title>
</head>
<body>
<form action="#" th:action="@{/admin/createEspacioFinal}" th:object="${notaPedidoFinal}" method="post">
	<input type="hidden" th:value="${true}" th:attr="name='estado'" />
	<input type="hidden" th:field="*{idNotaPedidoFinal}" />
	<input type="hidden" th:field="*{fecha}" />
	<input type="hidden" th:field="*{aula.idAula}" />
	<input type="hidden" th:field="*{materia.idMateria}" />
	<input type="hidden" th:field="*{cantEstudiantes}" />
	<input type="hidden" th:field="*{turno}" />
	<input type="hidden" th:field="*{fechaExamen}" />
	<input type="hidden" th:field="*{usuarioSolicitante}" />
	<input type="hidden" th:field="*{observaciones}" />
	<span th:if="${ocupado == true}"><h2>El espacio esta ocupado, no puedes asignarlo a esta nota de pedido de final</h2>
	<a class="nav-link" href="/admin/adminFinal"><h2>Volver</h2></a>
	</span>
	<span th:if="${ocupado == false}"><h2>El espacio esta disponible, pulsa "Crear" para reservarlo</h2>
	<input type="submit" style="height:40px; width:80px" value="Crear"/>
	<a class="nav-link" href="/admin/adminFinal"><h2>Volver</h2></a></span>
</form>
</body>
</html>