<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>Usuarios</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script type="application/javascript">
		function entraColor(quienllama){
			console.log(quienllama);
			var miBoton = document.getElementById(quienllama);
			miBoton.classList.add("active");
			miBoton.classList.remove("text-white");
		}
		
		function saleColor(quienllama){
			console.log("Sale");
			var miBoton = document.getElementById(quienllama);
			miBoton.classList.remove("active");
			miBoton.classList.add("text-white");
		}
	</script>

</head>
<body>
	<div class="container-fluid">

		<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark row position-fixed" style="width: 15%; height: 100%;">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			<svg class="bi me-2" width="40" height="32"></svg>
			<span class="fs-4">unla Gaula </span>
			</a>

			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
			
				<li class="nav-item">
					<a id="miBoton1" href="/admin/adminFinal" class="nav-link text-white" aria-current="page" onmouseout="saleColor('miBoton1')" onmouseover="entraColor('miBoton1')">
						<svg class="bi me-2" width="16" height="16"></svg>
						Ver pedido de final
					</a>
				</li>

			<li>
				<a id="miBoton2" href="/admin/adminCurso" class="nav-link text-white" onmouseout="saleColor('miBoton2')" onmouseover="entraColor('miBoton2')">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
				Ver pedido de curso
				</a>
			</li>
			<li>
				<a id="miBoton3" href="/admin/adminUser" class="nav-link text-white" onmouseout="saleColor('miBoton3')" onmouseover="entraColor('miBoton3')">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
				Ver usuarios
				</a>
			</li>
			<li>
				<a id="miBoton4" href="/logout" class="nav-link text-white" onmouseout="saleColor('miBoton4')" onmouseover="entraColor('miBoton4')">
				<svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
				Cerrar Sesion
				</a>
			</li>
			
			</ul>
			<hr>
			
		
		</div>
		<div class="col offset-2" >	
			<table border= "1px" class="table table-striped table-bordered table condensed table-hover table-responsive ">
			<caption><h1>Usuarios</h1></caption>
			<thead>
				<tr>
					<th>Id</th>
					<th>Username</th>
					<th>Fecha creacion</th>
					<th>Fecha actualizacion</th>
					<th>Rol de usuario</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Tipo de documento</th>
					<th>Documento</th>
					<th>Correo electronico</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario : ${usuarios}">
					<td><span th:text="${usuario.id}"/></td>
					<td><span th:text="${usuario.username}"/></td>
					<td><span th:text="${usuario.createdAt}"/></td>
					<td><span th:text="${usuario.updatedAt}"/></td>
					<td><span th:text="${usuario.getUserRoles().iterator().next().getRole()}"/></td>
					<td><span th:text="${usuario.nombre}"/></td>
					<td><span th:text="${usuario.apellido}"/></td>
					<td><span th:text="${usuario.tipoDeDocumento}"/></td>
					<td><span th:text="${usuario.nroDeDocumento}"/></td>
					<td><span th:text="${usuario.correoElectronico}"/></td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
<h2><p><a href="/index">Volver</a></p></h2>
</body>
</html>