<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>Notas de pedido de final</title>
</head>
<body>
	<table border="1px">
	<caption><h1><center>Notas de pedido de final</h1><caption>
	<thead>
		<tr>
			<th>Id</th>
			<th>Fecha realizada</th>
			<th>Turno</th>
			<th>Aula</th>
			<th>Cantidad de estudiantes</th>
			<th>Materia</th>
			<th>Fecha de examen</th>
			<th>Estado</th>
			<th>Accion</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="notaPedidoFinal : ${notaPedidoFinales}">
			<td><span th:text="${notaPedidoFinal.idNotaPedidoFinal}" /></td>
			<td><span th:text="${notaPedidoFinal.fecha}" /></td>
			<td><span th:text="${notaPedidoFinal.turno}" /></td>
			<td><span th:text="${notaPedidoFinal.aula.numero}+ ' ' + ${notaPedidoFinal.aula.edificio.edificio}" /></td>
			<td><span th:text="${notaPedidoFinal.cantEstudiantes}" /></td>
			<td><span th:text="${notaPedidoFinal.materia.materia}"/></td>
			<td><span th:text="${notaPedidoFinal.fechaExamen}"/></td>
			<td><span th:if="${notaPedidoFinal.estado == false }">No Aceptado</span>
			<span th:unless="${notaPedidoFinal.estado == false }">Aceptado</span></td>
			<td><a th:href="@{/admin/crearEspacioFinal/{id}(id=${notaPedidoFinal.idNotaPedidoFinal})}">Aceptar</a></td>		
		</tr>
	</tbody>
</table>
<a class="nav-link" href="/index"><h2>Volver</h2></a>
</body>
</html>