<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>Crear Curso</title>
</head>
<body>
	<h1><center>Creacion de curso</h1>
	<form action="#" th:action="@{/profesor/agregarFechas}" th:object="${notaPedidoCurso}" method="post">
	<p>Turno: <select th:field="*{turno}">
    	<option th:value="'M'" th:text="Mañana"></option>
   	 	<option th:value="'T'" th:text="Tarde"></option>
   	 	<option th:value="'N'" th:text="Noche"></option>
	</select></p>
	<p>Aula: <select th:field="*{aula.idAula}" >
    	<option th:each="aula : ${aulas}" th:value="${aula.idAula}" th:text="'Aula ' + ${aula.idAula} + ' ' + ${aula.edificio.edificio}"></option>
	</select></p>
	<p>Cantidad de estudiantes: <input type="number" th:field="*{cantEstudiantes}" /></p>
	<p>Materia: <select th:field="*{materia.idMateria}">
    	<option th:each="materia : ${materias}" th:value="${materia.idMateria}" th:text="${materia.materia}"></option>
	</select></p>
	<p>Observaciones: <input type="text" th:field="*{observaciones}" /></p>
	<p>Codigo del curso: <input type="text" th:field="*{codCurso}" /></p>
	<p>Porcentaje de cursada: <select th:field="*{porcentajeCursada}">
		<option value="25">25% Presencial</option>
		<option value="50">50% Presencial</option>
		<option value="100">100% Presencial</option>
	</select></p>
	<input type="hidden" th:value="${user.username}" th:attr="name='usuarioSolicitante'" />
	<input type="submit" value="Agregar fechas"/>
</form>
<h2><p><a href="/index">Volver</a></p></h2>
</body>
</html>